<app-main-controls
    [status]="TableCurrency"
    (newTaskEvent)="saveTask($event)"
   (clickBtn)="toogleTable($event)"
   (changeFilter)="changeFilter($event)"
></app-main-controls>
<app-main-table 
    *ngIf=" !TableCurrency "
    [data]="PendingTasks"
    [idFristElement]="idFristElement"
    (deleteTaskEvent)="deleteTask($event)"
    (completeTaskEvent)="completeTask($event)"
    (saveTaskEvent)="editTask($event)"
    (updateTimeEvent)="updateTime($event)"
    (editTaskfroModal)="editTaskfroModal($event)"
    
></app-main-table>
<div *ngIf=" TableCurrency">
    <div >
        
        <app-history-table
        
        [data]="CompleteTasks">
    </app-history-table>
    </div>
    <div >
        <app-chart data="dataChart" ></app-chart>
    </div>
</div>

