
@import '../../style/colors.scss';


.Header{
    display: flex;
    align-items: center;
    background-color: $BranColor-Principal;
    height: 80px;
    padding: 0 60px;
    justify-content: space-between;
    &-Img{
        height: 30px;    
    }
    &-Link{
        color: $BranColor-tertiary;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .Header{
        padding: 0 15px;
    }
  }