.login{
    max-width: 500px;
    padding: 20px;
    background: #d0d0d0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}
.login-btn{
    font-size: 16px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid;
}
.login-img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}