
<div class="mainTable" >
  
  <table mat-table [dataSource]="TablePendingTasks" >

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    
    </ng-container>
    <ng-container matColumnDef="durationS">
        <th mat-header-cell *matHeaderCellDef> Tiempo asignado</th>
        <td mat-cell *matCellDef="let element"> {{element.durationS |minuteSeconds  }} </td>
        
    </ng-container> 
    <ng-container matColumnDef="timeS">
        <th mat-header-cell *matHeaderCellDef> Tiempo restante</th>
        <td mat-cell *matCellDef="let element; let i = index;">
          <span  *ngIf="StatusPlay && idFristE == element.id">{{timer |minuteSeconds}}</span> 
          <span  *ngIf="StatusPlay == false || idFristE !== element.id ">{{element.timeS |minuteSeconds }}</span>
          </td>
       
    </ng-container>

    <ng-container matColumnDef="Controles">
      <th mat-header-cell *matHeaderCellDef> Controles </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <div *ngIf="idFristE == element.id" class="mainTable-option">
          <img *ngIf="StatusPlay" (click)="stopTime(element) " src="./assets/images/pausa.svg" class="Header-Img"  />
          <img *ngIf="StatusPlay == false" (click)="playTimer(element)"  src="./assets/images/play.svg" class="Header-Img"  />
          <img *ngIf="StatusPlay == false" (click)="resetTime(element)"  src="./assets/images/repeat.svg" class="Header-Img" />
        </div> 
        <div *ngIf="idFristE !== element.id" class="mainTable-option">
          <img *ngIf="!(1 == i && StatusPlay == true)" (click)="moveTask( element , true)" src="./assets/images/up.png" class="Header-Img"  />
          <img  *ngIf="i !== 0" (click)="moveTask( element , false)" src="./assets/images/down.png" class="Header-Img"  />
        </div> 

      </td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element; let i = index;"> 
        <button mat-button [matMenuTriggerFor]="menu">
          <img src="./assets/images/down.svg" class="Header-Img"  />
          Opciones
        </button>
        
          <mat-menu  #menu="matMenu">
            <div >
            <button *ngIf="StatusPlay == false || idFristE != element.id " mat-menu-item (click)="openDialog(element)">Editar</button>
            <button *ngIf="StatusPlay == false || idFristE != element.id"  mat-menu-item (click)="openDialogDelete(element)" >Borrar</button>
            <button *ngIf="idFristE == element.id" mat-menu-item (click)="completeTask(element)">Finalizar</button>
            </div>
          </mat-menu>
        

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
  </table>
  <mat-paginator  [pageSizeOptions]="[5, 10, 20]" ></mat-paginator> 

