$BranColor-Principal: #000000;
$BranColor-Segundary: #FDDA25;
$BranColor-tertiary : white;

$TextColor-1:#0000;
$TextColor-2:#373737;
$TextColor-3:#A0A0A0;

$indication-info:#2176FF;
$indication-success:#008796;
$indication-error:#FF6A39;

$backgroud:#E5E5E5;

