
@import './shared/style/colors.scss';


.body{
    background-color: $backgroud;
    font-family: 'Poppins';
    min-width: 460px;
}
.container{
    padding: 0 60px;
    height: calc(100vh - 80px);
}

.button {
    background: $TextColor-1;
    color: $BranColor-tertiary;
    border: 0px;
}

.mat-menu-panel {
    padding: 0px 5px;
    background: $TextColor-2;
    
  }
  
  @media (max-width: 600px) {
    .container{
        padding: 0 15px;
    }
  }