<div class="MainControls">
    <div>
        <main-button  *ngIf=" !TableCurrency" [text]="'CREAR NUEVA TAREA'" (click)="openDialog()"></main-button>   
    </div>    
    <div class="MainControls-r">
        <main-button *ngIf=" !TableCurrency " (click)="onclick()"  [modification]="'segundary'" [text]="'VER HISTORIAL'"></main-button> 
        <main-button *ngIf=" TableCurrency " (click)="onclick()"  [modification]="'segundary'" [text]=" 'Ver BACKLOG '"></main-button> 

            <select *ngIf=" TableCurrency " matNativeControl (change)="changeSelect()" [(ngModel)]="orderby"  class="button MainControls-input" >
                <option value="all"> Todos</option>
                <option value="bajo">Corta 30 min</option>
                <option value="medio">Media 30 min a 1 hora </option>
                <option value="alto">larga mas de 1 Hora</option>
            </select>    
    </div>        
</div>